body {
  margin: 0;
  font-family: 'DM Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.top-bar {
  height: 50px;
  width: 100%;
  background: #757ae9;
}

.nav--link {
  font-weight: 500;
  color: #353448;
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 200ms ease;
  padding: 20px 16px;
}

.nav--link:hover {
  opacity: 1;
  color: #28224b;
}

.button {
  border-radius: 4px;
  background: #757ae9;
  padding: 16px 25px;
  border: none;
  color: white;
}

.link {
  color: #757ae9;
  font-weight: 500;
}

.section {
  width: 100%;
  background: linear-gradient(180deg, #f5f7ff 0%, rgba(255, 255, 255, 0) 100%);
}

.section--container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

.section--header {
  background: white;
}

.section--header .section--container {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

.section--title {
  background: url('/shape.svg') left 80%/400px no-repeat;
}

.section--cta {
  background: url('/cta.svg') center center/cover;
  color: white;
}

.section--cta .heading {
  margin-bottom: 0;
}

.title {
  font-size: 60px;
  margin: 0;
}

.copy {
  font-size: 18px;
  color: #7e828f;
}

.heading {
  font-size: 50px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 100px;
  line-height: 1;
}

.heading--demo {
  margin-bottom: 0;
}

.subject {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.copy-icon--wrapper {
  display: flex;
}

.icon {
  width: 35px;
  height: 35px;
  margin-right: 15px;
  margin-top: 10px;
}

.work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work--sample {
  max-width: 300px;
  margin: 0 50px;
  margin-bottom: 50px;
}

.work--image {
  margin-top: 20px;
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .header,
  .section {
    padding-left: 60px;
    padding-right: 60px;
  }
}
